.link{
  text-align: center;
}

.linkLonin{
  margin: 10px;
  font-size: 24px;
  text-decoration: none;
  color: red;
}

.linkLonWelcome{
  font-size: 24px;
  text-decoration: none;
  margin: 10px;
  color: red;
}